.homepage{
   width: 100%;
   background-color: black;
   height: auto;
   display: flex;
}
.sidebar{
   width:40%;
}
.main-screen{
   width: 80%;
   margin: 2%;
   margin-bottom: 0%;
   height:auto;
   background-color: #08030e;
}
.profile-name{
   width:100%;
   background-color:rgb(31 41 55 / var(--tw-bg-opacity, 1));
   height: 10%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin:auto;
   margin-bottom: 0%;
}
.profile-box{
   padding-left: 23px;
}