.navbar {
  width: 100%;
}
.navbar-logo {
  height: 3%;
  width: 3%;
}
.getStarted-Btn {
  background-color: rgb(148, 148, 221);
  border: none;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}
.getStarted-link {
  color: white !important;
}
