.navbar {
  width: 100%;
}
.navbar-logo {
  height: 5%;
  width: 5%;
}
.getStarted-Btn {
  background-color: rgb(148, 148, 221);
  border: none;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}
.getStarted-link {
  color: white !important;
}
.navbar-left {
  margin-left: 40px;
}
.navbar-collapse {
  margin-right: 30px !important;
}
.collapse {
  visibility: visible;
}

@media only screen and (max-width: 600px) {
  .navbar-left {
    margin-left: 0px;
  }
  .navbar-collapse {
    margin-right: 0px !important;
  }
}
